@using Dashboard.Models;
@model CreateProductModel
@{
    ViewData["Title"] = "Create Expense";
    ViewData["Controller"] = "Home";
    ViewData["Action"] = "CreateExpense";
}

@section Scripts {
    <script>
        function show() {
            alert("Create at least one category before creating expense");
        }
    </script>
}
<form method="post" asp-action="CreateProduct" asp-controller="Home">
    <div class="child">
        <partial name="_ProductPartial" model="Model" view-data="ViewData" />
    </div>
</form>